<main>
  <div>
    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>AngularJS1 auto-complete</h1>

        <form>
          <div class="auto-complete-form-wrapper form-group">
            <input type="text" class="form-control" id="country" placeholder="Start typing country name..." ng-change="$ctrl.loadCountries()" ng-model="$ctrl.country" ng-model-options="{ debounce: 500 }" autofocus ng-keyup="$ctrl.keyPressed($event)" autocomplete="off">

            <!-- absolute div under the button with autocomplete list -->
            <div class="auto-complete-box list-group">
              <button type="button" class="list-group-item {{ $ctrl.selectedItemIndex === $index ? 'active' : ''}}" ng-repeat="itemCountry in $ctrl.countries track by $index" ng-click="$ctrl.selectCountry(itemCountry)">
                {{ itemCountry.name }}
              </button>
            </div>
          </div>
        </form>
      </div>

    </div> <!-- /container -->
  </div>
</main>