<main>
  <div>
    <h1>Found in {{ $ctrl.name }}.html</h1>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>auto-complete directive</h1>
        <p>asd...</p>

        <form>
          <div class="auto-complete-form-wrapper form-group">
            <input type="text" class="form-control" id="country" placeholder="Start typing country name..." ng-change="$ctrl.loadCountries()" ng-model="$ctrl.country" ng-model-options="{ debounce: 500 }">

            <div class="auto-complete-box list-group">
              <button type="button" class="list-group-item" ng-repeat="itemCountry in $ctrl.countries">
                {{ itemCountry.name }}
              </button>
            </div>
          </div>
        </form>
      </div>

    </div> <!-- /container -->
  </div>
</main>