<main>
  <div>
    <h1>Found in {{ $ctrl.name }}.html</h1>

    <div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>auto-complete directive</h1>
        <p>asd...</p>

        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="city" placeholder="Start typing city name..." ng-change="$ctrl.loadCities()" ng-model="$ctrl.city" ng-model-options="{ debounce: 500 }">
          </div>
        </form>
      </div>

    </div> <!-- /container -->
  </div>
</main>